@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&family=Inter:wght@100..900&display=swap');

.parent{
  font-family:'Inter', sans-serif;
}

.chat-container {
  margin: 20px;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 800px;
  max-width: 800px;
  background-color: black;
  scroll-behavior: smooth;
  overflow: auto;

  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.chat-container::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.chat-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

.chat-container::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar */
}

.chat-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar on hover */
}

.message {
  padding-top: 10px;
  padding-left: 20px;
  border-radius: 10px;
  max-height: 900px;
  
}

.bot-message {
  max-width: 500px;
  
}

.user-message {
  max-width: 500px;
}

.input-container {
  display: flex;
  margin-top: 10px;
}



.input-container input {
  flex: 1;
  margin-right: 10px;
}

.input {
  position: fixed;
  bottom: 5.5%;
  left: 50%;
  transform: translateX(-50%);
  color: #ccc;
  width: 300px; /* Adjust width as needed */
  display: flex;
  justify-content: space-between;
  padding: 4px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(30, 30, 30); /* Optional: Add background color */
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add box shadow */
}

.input:focus{
  border: 1px solid #007bff;
}

.input input {
  flex: 1;
  color: #ccc;
  margin-right: 10px;
  border: 0px solid transparent; /* Transparent border */
  border-radius: 5px; /* Optional: Add border radius */
  padding: 8px; /* Optional: Add padding */
  background-color: rgb(30, 30, 30)
}

.input input:focus {
  outline: none; /* Remove default focus outline */
  
}

.input button {
  padding-top: 8px; /* Optional: Adjust padding */
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #383838; /* Optional: Button background color */
  color: #fff; /* Optional: Button text color */
  border: none; /* Optional: Remove border */
  border-radius: 5px; /* Optional: Add border radius */
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.input button:hover {
  background-color: black; /* Optional: Button hover background color */
}

